<!DOCTYPE html>
<html lang="en">
<head>
      <%- include("./partials/meta.ejs") %>
    <link rel="stylesheet" href="css/login.css">
    <link rel="stylesheet" href="css/w3css/w3.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="css/login.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    
</body>
</html>